@property --rotate {
  syntax: "<angle>";
  initial-value: 360deg;
  inherits: false;
}

:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
  }
  body{
    overflow-x: hidden;

  }
  
  .over{
    position: absolute ;
    width: 100%;
    height: 100%;
    
    background-image: linear-gradient(rgb(91, 4, 4),rgb(20, 4, 37));
    opacity: .4;
  }
  .body {
    background-image: url(https://th.bing.com/th/id/R.2f093bbb465f6b55c57a2a7998935b59?rik=2za8IsWtfLqYdA&pid=ImgRaw&r=0);
    background-size: cover;

    width:100%;
    height: 100%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    position: relative;  
     /* For browsers that do not support gradients */
  background-repeat: no-repeat;
 object-fit: cover;
  }
  .card {
   
    
    background-color:#191c29;
    box-shadow: 5px 5px 5px#191c29;
    width:13.3rem;
    height: 24rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 15px;
    perspective: 3000px;
    margin: 0 20px;
    box-shadow: #191c29;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    color: rgb(88 199 250 / 0%);
    transition: .5s;
  }
  .big{
    width:17.3rem ;
    height: 31rem;
  }
  .medium{
    width:15.3rem ;
    height: 27.5rem;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
    
    
  }
  .title{
    opacity: 1;
    transition: .5s;
  }
  .card:hover .title
  {
    opacity: 0;
  }
  
  .wrapper {
    transition: all .4s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .wrapper::after {
    bottom: 0;
    opacity: .25;
    background-image: linear-gradient(
      to bottom,
      transparent 60%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #801717);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) /6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 95%;
    width: 50%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 3.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  @media (max-width:991px) {
    .card{
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  @media (min-width:991px) {
    .card{
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    
  }
  @media (min-width:1265px) {
    
    .body{
      height: 100vh;
      width: 100vw;
    }
  }

  
  